<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PA School District Poverty Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'school_districts/css/state.css' %}">
  </head>
  <body>
    <h2 class="label">State Map</h2>
    <svg id="State-Map"></svg>
    <script src="{% static 'school_districts/js/state.js' %}"></script>
  </body>
</html>