{% extends "base.html" %}


{% block title %}
  <title>PA State Map</title>
{% endblock %}


{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'school_districts/css/state.css' %}">
{% endblock %}


{% block body %}
  <h2 class="label">State Map</h2>
  <div id="content">
    <svg id="State-Map">
      <g class="map">
      </g>
    </svg>
  </div>
{% endblock %}   


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
  <script src="{% static 'school_districts/js/state.js' %}" type="module"></script>
{% endblock %}