<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PA State Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'school_districts/css/state.css' %}">
  </head>
  <body>
    <h2 class="label">State Map</h2>
    <div id="content">
      <svg id="State-Map">
        <g class="map">
        </g>
      </svg>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script src="{% static 'school_districts/js/state.js' %}" type="module"></script>
  </body>
</html>